@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,html {
  box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;

}
.main-container{
  background-image: url('./assets/sea-with-boats-distance-cloudy-sky.jpg'); /* Relative path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center;
    min-height: 100vh; /* Example for full-screen background */
    
}

